# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app
test/**/tfv-*
build/

# Emacs
\#*\#
.#*
*~
auto

# python
*.pyc


# media
*.yuv
*.raw
*.h264

# On-device-testing-temporaries
src/test/red-brick/python-bindings-generator/python/unzipped/

# Testing binaries
src/test/*/*
!src/test/*/*.c
!src/test/*/*.cc
!src/test/*/Makefile
!src/test/*/*.py

# Documentation
doc

# Local dev stuff
local
